/*
100 Thin (Hairline)
200 ExtraLight (UltraLight)
300 Light
400 Normal
500 Medium
600 SemiBold (DemiBold)
700 Bold
800 ExtraBold (UltraBold)
900 Black (Heavy)
*/


@font-face {
  font-family: 'CerebriSanst';
  src: ~'url(@{url}fonts/CerebriSans-Bold.eot)' format('eot'),
  ~'url(@{url}fonts/CerebriSans-Bold.ttf)' format('ttf'),
  ~'url(@{url}fonts/CerebriSans-Bold.woff)' format('woff'),
  ~'url(@{url}fonts/CerebriSans-Bold.woff2)' format('woff2');
  font-weight: bold;
}


@font-face {
  font-family: 'CerebriSanst';
  src: ~'url(@{url}fonts/CerebriSans-Light.eot)' format('eot'),
  ~'url(@{url}fonts/CerebriSans-Light.ttf)' format('ttf'),
  ~'url(@{url}fonts/CerebriSans-Light.woff)' format('woff'),
  ~'url(@{url}fonts/CerebriSans-Light.woff2)' format('woff2');
  font-weight: 300;
}





//@font-face {
//  font-family: 'CerebriSanst';
//  src: url(../fonts/CerebriSans-Bold.eot) format('eot'),
//  url(../fonts/CerebriSans-Bold.ttf) format('ttf'),
//  url(../fonts/CerebriSans-Bold.woff) format('woff'),
//  url(../fonts/CerebriSans-Bold.woff2) format('woff2');
//  font-weight: bold;
//}
//
//
//@font-face {
//  font-family: 'CerebriSanst';
//  src: url(../fonts/CerebriSans-Light.eot) format('eot'),
//  url(../fonts/CerebriSans-Light.ttf) format('ttf'),
//  url(../fonts/CerebriSans-Light.woff) format('woff'),
//  url(../fonts/CerebriSans-Light.woff2) format('woff2');
//  font-weight: 300;
//}