@import ~'@{dir}normalize';
@import ~'@{dir}mixins';
@import ~'@{dir}fonts';
@import ~'@{dir}swiper';
@import ~'@{dir}base';

//Variables
@d: 288rem;
@m: 75rem;

@black: #232122;
@white: #fff;
@red: #fb403c;




/*######################
    COMPONENTS
#######################*/


//UTILITIES

.isClicked { color: @red!important;}

//ARROW ICONS STYLE

.arrowSvg {
  width: 88/@d;
  height: 88/@d;
  fill: @white;
  pointer-events: none;
  .transition(fill 150ms ease-in-out);


}

//SERTIFICATES CONTAINER & WRAPPER

.container {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper {
  font-size: 0;
  height: 136/@d;
  width: 136/@d;
  .background-contain;
}

//TYPOGRAPHY

.sectionHeading {
  font-size: 72/@d;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: (300-410/2)/@d;
  transform: translateY(50%) rotate(270deg);
  z-index: 0;
}

.sectionSubHeading {
  font-size: 72/@d;
  font-weight: 300;
  color: @white;
  margin-bottom: 30/@d;
  .transition(color 150ms ease-in-out);
}

.sertificatesText {
  font-size: 36/@d;
  color: @black;
  margin-bottom: 80/@d;
}

.textBlock {
  font-size: 72/@d;
  color: @black;
}

.textLink {
  color: red;
  text-decoration: none;
  transition: color 150ms ease-in-out, border 150ms ease-in-out;
  //.transition(color 150ms ease-in-out border 150ms ease-in-out);
  border-bottom: 1px solid @red;
  padding-bottom: 2px;

  &:hover {
    color: @black;
    border-color: @black;
  }
}

//LAYOUTS

.layout--right,
.layout--left {
  width: 100%;
  position: absolute;
  background: @red;
}

.layout--right{
  height: 119.8vw;
}

.layout--left {
  height: 56vw;
  z-index: 3;
  margin-top: 1380/@d;
}

.layout--center {
  height: 104vw;
  width: 100%;
  position: absolute;
  pointer-events: none;
  z-index: 11;
  background: url(../img/logo_red.svg) 78/@d 62/@d no-repeat fixed, url(../img/menu_btn.svg) 2752/@d 62/@d no-repeat fixed;
  background-size: 340/@d, 43/@d;
}

//LOGO and MENU BUTTON

.logo {
  background: url(../img/logo_white.svg) 78/@d 62/@d no-repeat fixed, url(../img/menu_btn_white.svg) 2752/@d 62/@d no-repeat fixed;
  background-size: 340/@d, 43/@d;
  top: 0;
  left: 0;
  right: 0;
  height: 156/@d;
  position: fixed;
  z-index: 10;
  pointer-events: none;
}






/*######################
    HERO SECTION
#######################*/
.hero--noClipPath {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: @white;

}

.hero {
  height: 100vh;
  background-color: @red;
  position: relative;
  z-index: 20;

  .heroBlock {
    position: absolute;
    top: 34%;
    left: 50%;
    .translate3d(-50%,0,0);
  }

  #heroLogo {
    display: block;
    width: 746/@d;
    height: auto;
    margin: 0 auto 55/@d auto;
  }

  .heroHeading {
    font-size: 75/@d;
    color: @white;
    font-weight: 300;
    white-space: nowrap;
  }

  .heroBtn {
    position: absolute;
    top: 90.6%;
    left: 50%;
    .translate3d(-50%,0,0);

    &:hover {
      .arrowSvg {
        fill: @black;
      }
    }
  }

}

/*######################
    ABOUT SECTION
#######################*/

.about {
  padding: 416/@d 494/@d 0 690/@d;
  height: 55.5vw;
  position: relative;
  z-index: 11;
  &:before {
    .sheet;
    z-index: 20;
    pointer-events: none;
    content:'';
    background: url(../img/logo_red.svg) 78/@d 62/@d no-repeat fixed, url(../img/menu_btn.svg) 2752/@d 62/@d no-repeat fixed;
    background-size: 340/@d, 43/@d;
  }

  .sectionHeading {
    top: 35%;
  }

  .textBlock {
    margin-bottom: 208/@d;

    p {
      margin: 0;
    }
  }

  .wrapper {
    display: inline-block;
    &:not(:last-of-type) {
      margin-right: 170/@d;
    }
  }
}

/*######################
    SERVICES SECTION
#######################*/

.services {
  padding: 416/@d 494/@d 0 690/@d;
  height: 52vw;
  position: relative;

  .sectionHeading {
    top: 35%;
  }
  .textList {
    font-size: 72/@d;
    color: @black;
    margin: 0;
    &:not(:last-of-type) {
      margin-bottom: 190/@d;
    }
  }

  .rightContent {
    position: absolute;
    top: 416/@d;
    left: 2250/@d;
    width: 360/@d;
  }

  .btn {
    display: block;
    margin-bottom: 150/@d;
    text-decoration: none;
    &:hover {
      .sectionSubHeading {
        color: @black;
      }
      .arrowSvg {
        fill: @black;
      }
    }
  }

  .sertificatesText {
    color: @white;
    margin-bottom: 60/@d;
  }
  .container {
    margin: -26/@d 0;

  }
  .wrapper {
    margin: 26/@d 0;
    position: relative;

    .link {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 0;
    }
  }
}

/*######################
    PROJECTS SECTION
#######################*/

.projects {
  height: 52vw;
  position: relative;
  overflow: hidden;

  .sectionHeading {
    top: 16%;
    z-index: 3;
  }

  .slider {
    margin-top: 300/@d;
    margin-right: -700/@d;
  }
}



/*######################
    SWIPER SLIDER STYLE
#######################*/

.swiper-container {
  width: 1170/@d;
  margin: 0 auto;
  overflow: visible;

  .swiper-slide {
    padding: 0 30/@d;


  }

  .projectImage {
    width: 100%;
    height: 700/@d;
    margin-bottom: 55/@d;
    .background-cover;
    box-shadow: 9/@d 15/@d 90/@d 0 rgba(251, 64, 60, 0.17);
  }

  .wrapperHeading {
    font-size: 36/@d;
    font-weight: bold;
    color: @black;
    margin-left: 100/@d;
    &--sub {
      display: block;
      font-weight: 300;
    }
  }

  .swiper-slide-next {
    .textLink {
      color: @white;
      border-color: @white;

      &:hover {
        color: @black;
        border-color: @black;
      }
    }
  }
}

.projects {
  .sliderButtons {
    position: absolute;
  }
  .sliderButtons {visibility: hidden;}
}
.layout--left {
  .sliderButtons {visibility: visible;}
}

.sliderButtons {
  margin-top: 1036/@d;
  margin-left: 300/@d;
  display: flex;

  .swiper-button-prev {
    .transform(rotate(90deg));
    margin-right: 22/@d;
  }

  .swiper-button-next {
    .transform(rotate(270deg));
  }
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  &:hover {
    .arrowSvg {
      fill: @black;
    }
  }
}


/*######################
    FOOTER SECTION
#######################*/

.footer {
  height: 31.25vw;
  position: relative;

  .sectionHeading {
    top: 45%;
  }

  .footerLinks {
    font-size: 72/@d;
    font-weight: 300;
    color: @black;
    text-decoration: none;
    .transition(color 150ms ease-in-out);

    &:hover {
      color: @red;
    }
  }

  .email {
    position: absolute;
    top: 250/@d;
    left: 690/@d;
    color: @red;

    &:hover {
      color: @black;
    }
  }

  .phoneBlock {
    position: absolute;
    top: 425/@d;
    left: 1350/@d;


    .footerLinks {
      display: block;
    }
  }
}

/*######################
    HEADER SECTION
#######################*/

.header {
  position: fixed;
  pointer-events: none;
  z-index: 15;

  #logoLink,
  #menuLink {
    position: fixed;
    top: 62/@d;

  }

  #logoLink {
    width: 340/@d;
    left: 80/@d;
  }

  #menuLink {
    width: 44/@d;
    left: 2752/@d;
  }


  #logoLink,
  #menuLink {
    display: block;
    height: 92/@d;
    pointer-events: visible;
  }
}

//NAVIGATION

.nav-isActive {
  .hero,
  .hero--noClipPath{
    z-index: 0;
  }

  .navigation {
    display: block;
    opacity: 1;
  }
}

.navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: @white;
  text-align: center;
  opacity: 0;
  .transition(opacity 250ms ease-in-out);

  &:before {
    content: '';
    .sheet;
    background: url(../img/logo_red.svg) 78/@d 62/@d no-repeat fixed, url(../img/menu_btn.svg) 2752/@d 62/@d no-repeat fixed;
    background-size: 340/@d, 43/@d;
    pointer-events: none;
  }

  .navigationBlock {
    .abcenter;
  }

  .navigationItem {
    &:not(:last-of-type) {
      margin-bottom: 136/@d;
    }
  }
  .navigationLink {
    font-size: 72/@d;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    pointer-events: visible;
    text-decoration: none;
    color: @black;
    .transition(color 150ms ease-in-out);

    &:hover {
      color: @red;
    }

  }


}

@import ~'@{dir}mobile';






















