@media only screen and (orientation: portrait),
only screen and (max-width: 750px) {

  /*######################
    COMPONENTS
#######################*/

  //UTILITIES
  .u-mobileHide {display: none;}

  //ARROW ICONS STYLE

  .arrowSvg {
    width: 88/@m;
    height: 88/@m;
  }

  //SERTIFICATES CONTAINER & WRAPPER



  .wrapper {
    height: 100/@m;
    width: 100/@m;
  }

  //TYPOGRAPHY

  .sectionHeading {
    font-size: 30/@m;
    letter-spacing: 0.2em;
    left: (34-174/2)/@m;
  }

  .sectionSubHeading {
    font-size: 44/@m;
    margin-bottom: 0;
  }

  .sertificatesText {
    font-size: 30/@m;
    margin-bottom: 80/@m;
  }

  .textBlock {
    font-size: 44/@m;
    color: @black;
  }

  .textLink {
    color: red;
    text-decoration: none;
    transition: color 150ms ease-in-out, border 150ms ease-in-out;
    border-bottom: 1px solid @red;
    padding-bottom: 2px;

    &:hover {
      color: @black;
      border-color: @black;
    }
  }

  //LAYOUTS

  .layout--right,
  .layout--left {
    width: 100%;
    position: absolute;
    background: @red;
  }

  .layout--right{
    height: 294.93vw;
  }

  .layout--left {
    height: 65.47vw;
    margin-top: 2342/@m;
  }

  .layout--center {
    height: 377.5vw;
    background-position: 34/@m 62/@m, 686/@m 62/@m ;
    background-size: 224/@m, 29/@m;
  }

  //LOGO and MENU BUTTON
  .logo {
    background-position: 34/@m 62/@m, 686/@m 62/@m ;
    background-size: 224/@m, 29/@m;
    height: 130/@m;
  }





  /*######################
      HERO SECTION
  #######################*/

  .hero {

    .heroBlock {
      top: 39.5%;

    }

    #heroLogo {

      width: 408/@m;
      margin: 0 auto 50/@m auto;
    }

    .heroHeading {
      font-size: 44/@m;
      text-align: center;
      width: 682/@m;

      span {
        display: block;
      }
    }

    .heroBtn {
      top:88.66%;
    }

  }

  /*######################
      ABOUT SECTION
  #######################*/

  .about {
    padding: 248/@m 34/@m 0 108/@m;
    height: 177.33vw;
    &:before {
      background-position: 34/@m 62/@m, 686/@m 62/@m ;
      background-size: 224/@m, 29/@m;
    }

    .sectionHeading {
      top: 24%;
    }

    .textBlock {
      margin-top: 0;
      margin-bottom: 110/@m;

      p {
        &:not(:last-of-type) {
          margin-bottom: 50/@m;
        }
      }
    }

    .sertificates {
      margin: -20/@m -60/@m;

    }

    .wrapper {
      margin: 20/@m 60/@m!important;
    }
  }

  /*######################
      SERVICES SECTION
  #######################*/

  .services {
    padding: 82/@m 34/@m 0 108/@m;
    height: 188vw;
    position: relative;

    .sectionHeading {
      top: 10.5%;
      left: (34-170/2)/@m;
    }

    .textList {
      font-size: 44/@m;
      margin-bottom: 120/@m!important;
    }

    .rightContent {
      position: static;
      width: 100%;
    }

    .btn {
      margin-bottom: 125/@m;
      display: flex;
      width: 360/@m;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

    }

    .sectionSubHeading {
      margin-left: 35/@m;
    }

    .sertificatesText {
      font-size: 36/@m;
      margin-bottom: 60/@m;
    }
    .container {
      margin: 0;
      margin-left: -31/@m;

    }
    .wrapper {
      width: 136/@m;
      height: 136/@m;
      margin: 0 31/@m!important;
    }
  }

  /*######################
      PROJECTS SECTION
  #######################*/

  .projects {
    height: 190.4vw;


    .sectionHeading {
      top: 430/@m;
    }

    .slider {
      margin-top: 615/@m;
      margin-right: 0;
    }
  }



  /*######################
      SWIPER SLIDER STYLE
  #######################*/

  .slider {
    margin-left: -34/@m;
    position: relative;
  }


  .swiper-container {
    width: 654/@m;
    margin: 0 0 0 34/@m;


    .swiper-slide {
      padding: 0;
    }

    .swiper-slide-active {
      margin-right: 28/@m;
      margin-left: 34/@m;
    }



    .projectImage {
      width: 100%;
      height: 412/@m;
      margin-bottom: 38/@m;
      box-shadow: 9/@m 15/@m 90/@m 0 rgba(251, 64, 60, 0.17);

    }

    .wrapperHeading {
      font-size: 24/@m;
      margin-left: 0;
      text-align: right;
    }
  }

  .layout--left {
    .sliderButtons {visibility: hidden;}
  }

  .projects {
    .sliderButtons {visibility: visible;}
  }

  .sliderButtons {
    top: 420/@m;
    right: 34/@m;
    margin: 0!important;
    .swiper-button-prev {
      margin-right: 22/@m;
    }
  }


  /*######################
      FOOTER SECTION
  #######################*/

  .footer {
    height: 64.13vw;

    .footerLinks {
      font-size: 44/@m;
      right: 34/@m;
      text-align: right;
    }

    .email {
      top: 132/@m;
    }

    .phoneBlock {
      top: 240/@m;
      right: 34/@m;
      text-align: right;
    }
  }

  /*######################
      HEADER SECTION
  #######################*/

  .header {


    #logoLink,
    #menuLink {
      top: 62/@m;

    }


    #logoLink {
      width: 224/@m;
      left: 34/@m;
    }

    #menuLink {
      width: 30/@m;
      left: 686/@m;
    }


    #logoLink,
    #menuLink {
      height: 62/@m;
    }
  }

  //NAVIGATION



  .navigation {
    &:before {
      background-position: 34/@m 62/@m, 686/@m 62/@m ;
      background-size: 224/@m, 29/@m;
    }


    .navigationItem {
      &:not(:last-of-type) {
        margin-bottom: 120/@m;
      }
    }
    .navigationLink {
      font-size: 30/@m;

    }
  }

}